@import "tailwindcss";
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  font-size: small;
background: linear-gradient(
  to right,
  #783404,
  #1a1a1a,
  #050816
);
  color:white;
}

ul{
  display:flex;
  gap:20px;
  list-style:none;
}

a{
  color:white;
  text-decoration:none;
}

.student-card{
  padding:20px;
  margin:20px;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
}


.enrollments-page{
  text-align:center;
  margin-top:40px;
}

.enroll-container{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
  margin-top:30px;
}

@media(max-width:768px){

  nav{
    flex-direction:column;
    gap:20px;
  }

  ul{
    flex-direction:column;
    text-align:center;
  }

}